<% include ../partials/boilerplate %>

<div class="workoutgoal-view">
  <h1>Edit Workout</h1>
  <div class="addedit">
    <form action="/workout/<%= workout.id%>?_method=PUT" method="POST">
      <input type="text" name="category" placeholder="Category" value="<%= workout.category %>" />
      <input type="text" name="description" placeholder="Description" value="<%= workout.description %>" />
      <input type="number" name="level" placeholder="Level" value="<%= parseInt(workout.level) %>" />
      <input type="date" name="date_entry" placeholder="Date" value="<%= workout.date_entry %>" />
      <input class="save" type="submit" value="Save" />
    </form>
  </div>
  <div class="allworkouts">
  <a href="/workout/<%=workout.id %>">All Workouts</a>
  </div>
</div>

<% include ../partials/end %>
