<% include ../partials/boilerplate %>

<div class="workoutgoal-container">
  <div class="heading">
    <h1>FitClick</h1>
  </div>
  <div class="workoutandgoal">
    <div class="workouthome">
      <h2><a href="/workout">Workout Log</a></h2>
      <% workouts.forEach(workout => { %>
        <div class ="workout">
          <span class="date"><%= new Date(workout.date_entry).toDateString() %>:</span>
          <span class="category"><%= workout.category %></span><br><br>
          <span><a href="/workout/<%= workout.id%>">Detail</a></span>
        </div>
      <% }) %>
      <div class = "add-buttonhome">
        <a href="/workout/add">Log a workout +</a>
    </div>
  </div>

  <div class="goalhome">
      <h2><a href="/goal">Weekly Goals</h2>
      <% goals.forEach(goal => { %>
        <div class ="goal">
          <span class="goalname"><%= goal.name %></span><br><br>
          <span><a href="/goal/<%= goal.id%>">Detail</a></span>
        </div>
      <% }) %>
    <div class = "add-buttonhome">
        <a href="/goal/add">Add a goal +</a>
    </div>
  </div>
  </div>
</div>

<% include ../partials/end %>
